header{
    background-color: #333;
    padding: 10px;
    color:azure;
    border-left: solid 6px grey;
}

th{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    color: black;
}
 
button{
    margin-top: 12px;
    border-radius: 4px;
}

main{
    margin: 8px;
}

section{
    margin-top: 8px;
}

input{
  float: right;
  margin-right: 70%;
}
.formInput{
    margin: 4px;
}